* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper__video {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.header {
    padding-top: 37px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.header__link {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-size: 12.14px;
    font-weight: 400;
    line-height: 19.6px;
    text-transform: uppercase;
}
.hero__wrapper{
    margin-top: 300px;
}
.hero__btn {
    position: relative;
    width: 140px;
    height: 65px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 12.91px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: 18px;
}

.hero__h3 {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 17.19px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
}

.hero__h1 {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 41.06px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 4px;
}
.video1 {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}
 .wrapper__video1{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
 }
 .hero__wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
 }